// CPNT 262 - Final Project 
// Alex Madsen
// October 19, 2018 



body { 
    background-color: $background-color; 
    overflow-x: hidden; 
    width: 100vw; 
}

.nav-container { 
    width: 100vw; 
    position: fixed;
    z-index: 1000; 
}
