@mixin flex-column {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

@mixin d-flex-center { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

@mixin generate-hero-bg($img-url, $filter-color) { 
    background: 
        linear-gradient($filter-color, $filter-color), 
        url($img-url); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}