//  Color Pallette 
$background-color   : #050505; 
$primary-color      : #f31616; 
$secondary-color    : #f84538; 


// Background and Foreground 
$accent-color   : #f84538; 
$solid-black    : #1b1212;
$white          : #fff; 
$hero-text-bg   : rgba(5, 5, 5, 0.863); 

$hero-img-filter: rgba(0,0,0,0.4);

// Bootstrap Screen Width Measurements 
$small-devices         : 576px; 
$medium-devices        : 768px; 
$large-devices         : 992px; 
$extra-large-devices   : 1200px; 

// Other Fixed Heights and Widths 
$mobile-menu-width: 300px;
$header-height: 80px;
$hero-height: 600px;
$footer-height: 300px; 

$padding-margin-base: $header-height / 2; 

$author-pic-width: 250px; 

// Main Card Widths
$lg-card-width: 30%; 
$md-card-width: 75%; 
$sm-card-width: 100%;

// Footer Card Widths 
$footer-card-lg: 22%; 
$footer-card-md: 47%; 
$footer-card-sm: 80%; 

// Animation Constants 
$menu-transition-time: 0.2s; 
$tween-time: 0.2s; 


// Font Families 
$header-font: 'VT323', monospace; 
$paragraph-font: 'Shared Tech Mono', monospace; 

// Font Sizes 
$large-font: 3em; 
$medium-font: 2.5em; 
$small-font: 1.2em; 
$extra-small-font: 0.9em; 

$footer-header-size: 1.4em; 
$footer-body-size: 1em; 

// Image URLs 
$index-hero-bg: "../assets/denys-nevozhai-351730-unsplash.jpg";
$products-hero-bg: '../assets/alex-knight-326705-unsplash.jpg'; 
$about-hero-bg: '../assets/joia-de-jong-725427-unsplash.jpg'; 
$contact-hero-bg: '../assets/aditya-saxena-422675-unsplash.jpg';  

$book-cover-url: '../assets/jean-wimmerlin-526391-unsplash.jpg';