// CPNT 262 - Final Project 
// Alex Madsen
// October 19, 2018 


//  Color Pallette 
$background-color   : #ddd; 
$primary-color      : navy; 
$secondary-color    : papayawhip; 


// Background and Foreground 
$accent-color   : seagreen; 
$text-light     : #ddd; 
$link-hover     : #fff; 
$text-dark      : #222; 

$hero-img-filter: rgba(0,0,0,0.4);


// Bootstrap Screen Width Measurements 
$small-devices         : 576px; 
$medium-devices        : 768px; 
$large-devices         : 992px; 
$extra-large-devices   : 1200px; 

// Other Fixed Heights and Widths 
$mobile-menu-width: 300px;
$header-height: 80px;
$hero-height: 400px;
$main-min-height: 400px;
$footer-height: 160px; 

$std-padding: 20px; 
$std-margin: 40px; 
$padding-margin-base: 40px;

// Animation Constants 
$menu-transition-time: 0.2s; 
$tween-time: 0.2s; 

// Font Families 
$header-font: 'Quando', serif; 
$paragraph-font: 'Judson', serif; 
$button-font: 'Montserrat', sans-serif; 

// Font Sizes 
$large-font: 3em; 
$medium-font: 2.5em; 
$small-font: 1.2em; 
$extra-small-font: 0.9em; 

$header-font-size: 1.3em; 

$footer-header-size: 1.4em; 
$footer-body-size: 1em; 

// Image URLs 
// Once Assets Found - Place here!