.about { 
    .hero {
        
        @include generate-hero-bg($about-hero-bg, $hero-img-filter); 
        background-position: 50% 80%;

        .container { 
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
        }

        h1, h2 { 
            text-align: center; 
        }
    }

    main {  
        color: $primary-color; 
        font-family: $paragraph-font;

        h2 { 
            text-align: center; 
        }

        img { 
            width: $author-pic-width; 
            margin-right: $padding-margin-base; 
        }

        .about-box { 
            display: flex; 
            align-items: center; 

            p { 
                text-align: justify; 
            }
        }
    
        @media (max-width: $medium-devices) {
             .about-box {
                 flex-direction: column; 
             }

             img { 
                 margin-right: 0; 
                 margin-bottom: $padding-margin-base; 
             }

             h3 { 
                text-align: center; 
             }
        }
    }
}

