.product { 

    // ---------------------------------------------
    // Hero Section Specifics 
    // ---------------------------------------------

    .hero { 
        @include generate-hero-bg($products-hero-bg, $hero-img-filter);     
        
        .container { 
            display: flex; 
            flex-direction: row-reverse; 
            align-items: center; 
            justify-content: space-around; 
        }

        .hero { 
            background-position: 50% 100%; 
        }

        .hero-button { 
            display: block; 
            margin-left: auto;
        }
        
        h1,  h2, p { 
            text-align: right; 
        }
        
        h1, h2 { 
            font-family: 'VT323', monospace; 
        }
        
        h1 { 
            font-size: 60px; 
        }
        h2 { 
            font-size: 45px;
        }

        img { 
            display: block; 
            width: 275px; 
            height: 400px; 
            border: 2px dashed $secondary-color; 

            margin-left: 120px;
        }
        
        @media (max-width: $large-devices) { 
            img { 
                margin-left: 60px; 
            }
        }

        @media (max-width: $medium-devices) { 
            img { 
                margin-left: 0; 
                margin-top: 50px; 
                transform: rotate(5deg) translate (-20px, 20px); 
            }

            .container { 
                flex-direction: column; 
            }
            
            h1 { 
                margin-top: 20px; 
                text-align: center; 
            }
            
            h2 { 
                text-align: center; 
            }

            .hero-button { 
                margin: 0 auto; 
            }
        }
    }
}