// CPNT 262 - Final Project 
// Alex Madsen
// akmadsen522@gmail.com
// October 19, 2018 

.error {
    background-color: salmon; 
    border: 2px solid red; 
    color: red; 

    margin: 20px 0; 

    padding: 10px;
}

.error-closed { 
    display: none; 
}