// CPNT 262 - Final Project 
// Alex Madsen
// akmadsen522@gmail.com
// October 19, 2018 

// The footer proper 
footer { 
    background-color: $primary-color;
    color: $text-light; 

    min-height: $footer-height;
    padding-top: $std-padding; 

    a { 
        color: $text-light; 

        &:hover { 
            color: $link-hover; 
        }
    }
}

// The Footer Date/Time Display (required by project) 
.date-time { 
    text-align: center; 
}

// Page Links within the Footer 
.page-links { 
    ul { 
        padding: 0; 
        margin: 0; 

        display: flex; 
        align-items: center; 
    }

    li { 
        list-style: none; 
        margin-right: $std-margin; 
    }
}

// The Social Media Icons within the Footer
.social-media { 

    h2 { 
        text-align: end; 
    }

    ul {
        padding: 0; 
        margin: 0;

        display: flex; 
        justify-content: flex-end; 
        align-items: center; 
    }


    li { 
        list-style: none; 
        margin-right: $std-margin;

        &:last-child { 
            margin-right: 0; 
        }
    };
}