form { 
    width: 90%;

    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap; 

    @media (max-width: $medium-devices) {
        flex-direction: column; 
        align-items: center; 
    }

    @media (max-width: $small-devices) {
        width: 100%;
    }
}

legend { 
    text-align: center; 
    font-size: 1.5em; 
}

fieldset { 
    width: 45%; 

    border: 2px solid $primary-color; 
    padding: $padding-margin-base / 4; 

    margin-bottom: $padding-margin-base; 

    @media (max-width: $medium-devices) { 
        width: 100%;
    }
}

input, label, textarea { 
    background-color: $background-color; 
    border-color: $primary-color; 
    color: $primary-color; 

    padding: $padding-margin-base / 8; 
    
    display: block; 

    width: 100%; 

    &:focus { 
        border-color: $accent-color; 
    }
}

label { 
    font-size: 1.5em; 
}

input, textarea { 
    font-size: $small-font; 
    margin-bottom: $padding-margin-base; 
}

textarea { 
    resize: none; 
}