// CPNT 262 - Final Project 
// Alex Madsen
// October 19, 2018 


// Header Component in General 
header {
    background-color: $primary-color;
    height: $header-height;
    
    font-family: $paragraph-font;
    font-size: $header-font-size; 

    .container {
        height: 100%;
 
        display: flex;
        align-items: center;
    }

    a {
        color: $text-light;
        
        // TODO: Clean up hovering in the header
        &:hover {
            color: $link-hover;
            text-decoration: none;
        }
    }
}


// Company Portion of Header 
.company {
    display: flex;
    align-items: center;
    height: 100%;
    
    margin-right: auto; 

    i {
        margin-right: 10px;
    }
}