// CPNT 262 - Final Project 
// Alex Madsen
// akmadsen522@gmail.com 
// October 19, 2018 

// Shared features between all headers
// Most individual pages will overwrite some of these values (such as the background) 
.hero { 
    height: $hero-height; 

    .container { 
        height: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    }
}